<div class="container">
    <div class="form">
        <label for="searchInput">Filtrera kurslista:</label>
        <br>
        <input type="text" placeholder="Skriv kurskod eller kursnamn" [(ngModel)]="filterValue" (input)="applyFilter()">
    </div>

    <div class="table-container">
        <table class="table">
            <thead>
                <tr>
                    <th id="code" (click)="sortByCode()">Kurskod</th>
                    <th id="name" (click)="sortByName()">Kursnamn</th>
                    <th id="progression" (click)="sortByProgression()">Progression</th>
                </tr>
            </thead>
            <tbody id="course-info">
                <tr *ngFor="let course of filteredCourseList">
                    <td>{{ course.code.toUpperCase() }}</td>
                    <td>{{ course.coursename }}</td>
                    <td>{{ course.progression }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<img [src]="image" alt="En kanin">